.headerLogo {
  padding-left : 10px;  
  width: 1200px;
  height: 100px;
  position: static;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  text-decoration: none;
}

.headerLogo img {
  width: 10%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.headerLogo h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-weight: 700; 
  font-size: xx-large;
  font-style: normal;
  text-align: center;
  color: #001f0a;
  text-decoration: none;
}


.menu {
  background-color: rgb(210, 253, 239);
  overflow: hidden;
  padding: 16px; /* Ajuste del padding para el menú */
  display: flex; /* Uso de flexbox */
  justify-content: center; /* Centra los elementos del menú horizontalmente */
}

.menu a {
  color: #040000;
  text-align: left;
  outline: none;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.menu a:hover {
  border-bottom: 3px solid rgb(132, 150, 242);
}

 h1, .ubuntu-bold {
  font-family: "Ubuntu", sans-serif; 
  font-weight: 700; 
  font-size: xx-large;
  font-style: normal;
  text-align: center;
  color: #a5deb7;
  text-decoration: none;
} 

.elementosComunes {
  font-family: 'Courier New', Courier, monospace;
  
}

.footer {
  background-color: rgb(251, 251, 251);
  text-align: center;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller; /* Tamaño del texto más pequeño */
  margin-top: 20px;
  bottom: auto;
}
